#landing-root {
	padding: 0 10vw;
	background: rgb(93, 162, 199);
	background: linear-gradient(180deg, rgb(93, 162, 199) 0%, rgb(180, 218, 240) 100%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	flex-direction: row;

	form {
		background: white;
		color: #555;
		padding: 1rem;
		box-shadow: 0 0 .5rem #0005;

		display: grid;
		gap: 1rem;

		span {
			text-align: center;
			cursor: pointer;

			&.deactivated {
				opacity: 0.5;
				cursor: default;
			}
		}

		input[type="text"], input[type="password"] {
			border: 1px solid #ccc;
			padding: 0.5rem;
			width: 15rem;
			grid-column: 1/3;
		}

		#accept {
			input {
				vertical-align: bottom;
			}

			label {
				font-size: 0.8rem;
			}
		}

		button {
			border: none;
			background-color: rgb(93, 162, 199);
			color: #fff;
			cursor: pointer;
			height: 2rem;
			grid-column: 2;
		}
	}

	& > * {
		display: flex;
	}
}